
.login-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    max-width: 80%;
    margin-top: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
    font-style: mulish;
  }
  
  .input-container {
    display: flex;
    font-style: mulish;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .btn{
    min-height: 50px;
  }