.allitems{
    border-color: black;
    border: 1px solid black;
    margin:auto;
    margin-top:10px;
    border-radius:5px;
    padding: 5px;
}

.bigbox{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.indiitem{
    padding-top: 5px;
}
.hideitem{
    display: none;
}