.cartpage{
    display: none;
}

.homepage {
    display:flex;
    margin: auto;
    justify-content: space-evenly;
    background-color:white;
    flex-wrap: wrap;
    /* max-width: 800px; */
    /* flex-direction:column; */
}

.counter {
    display: flex;
    font-weight:bold;
}

.makethedisplayflexandtextaligncenter {
    text-align: center;
    display:flex;
}

.cartoftheweek{
    width: 300px;
    height: 300px;
    margin:auto;
    text-align: center;
}

.hidebottle{
    display: none;
}

.floatbtn{
    width: 50px;
    background-color:  rgb(8, 151, 8);;
    height: 50px;
    border-radius: 30px;
    height: 30px;
    position:'relative'; 

}

/*
.card {
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:auto;
    width:400px;
    border-radius:10px;
}

.cardtext {
    display: flex;
    position: relative;
    margin-top: -70px;
    padding: 25px;
    color: white;
    justify-content: space-between;
    font-weight: bold;
    text-shadow: 2px 2px 5px gray;
}



.cardinhomepage {
    border-radius: 100px;
}
*/